MyMobileSys/xsd/mmsUI.xsd

<!-- xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc">

	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings>
				<xjc:superClass name="mymobilesys.xml.ui.base.ControlBase" />
			</jaxb:globalBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="Control">
		<xs:sequence>
			<xs:element name="data" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="onclick" type="xs:string" />
		<xs:attribute name="onfocus" type="xs:string" />
		<xs:attribute name="onfocusout" type="xs:string" />
		<xs:attribute name="jqtheme" type="xs:string" />
		<xs:attribute name="mini" type="xs:boolean" />
		<xs:attribute name="fieldcontain" type="xs:boolean" default="false" />
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="replacehtml" type="xs:string" />
		<xs:attribute name="enhancejq" type="xs:boolean" default="true" />
	</xs:complexType>

	<xs:complexType name="Image">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="image" type="xs:string" />
				<xs:attribute name="width" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Button">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="text" type="xs:string" />
				<xs:attribute name="icontype" type="xs:string" />
				<xs:attribute name="iconpos" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="Text">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="text" type="xs:string" />
				<xs:attribute name="label" type="xs:string" />
				<xs:attribute name="inputtype" type="xs:string" />
				<xs:attribute name="maxlength" type="xs:integer" />
				<xs:attribute name="data-options" type="xs:string" />
				<xs:attribute name="data-format" type="xs:string" />
				<xs:attribute name="placeholder" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Html">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="html" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Custom">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="htmlfile" type="xs:string" />
				<xs:attribute name="nativeside" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Check">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="text" type="xs:string" />
				<xs:attribute name="checked" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Radio">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="text" type="xs:string" />
				<xs:attribute name="checked" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GridCol">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="Controls" />
							</xs:appinfo>
						</xs:annotation>
						<xs:element name="Container" type="Container"
							minOccurs="0" />
						<xs:element name="Button" type="Button" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Text" type="Text" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Check" type="Check" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="RadioGroup" type="RadioGroup"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="Combo" type="Combo" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="List" type="List" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Image" type="Image" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Form" type="Form" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Grid" type="Grid" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Html" type="Html" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Custom" type="Custom" minOccurs="0"
							maxOccurs="unbounded" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Grid">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="Blocks" />
							</xs:appinfo>
						</xs:annotation>
						<xs:element name="GridCol" type="GridCol" minOccurs="1" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="cols" type="xs:integer" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Combo">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="label" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RadioGroup">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="Radios" />
							</xs:appinfo>
						</xs:annotation>
						<xs:element name="Radio" type="Radio" minOccurs="1" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="label" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="List">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:attribute name="border" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Container">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="Controls" />
							</xs:appinfo>
						</xs:annotation>
						<xs:element name="Container" type="Container"
							minOccurs="0" />
						<xs:element name="Button" type="Button" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Text" type="Text" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Check" type="Check" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="RadioGroup" type="RadioGroup"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="Combo" type="Combo" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="List" type="List" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Image" type="Image" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Form" type="Form" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Grid" type="Grid" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Html" type="Html" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Custom" type="Custom" minOccurs="0"
							maxOccurs="unbounded" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Header">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:attribute name="divbar" default="true" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Footer">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:attribute name="divbar" default="true" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--xs:complexType name="Footer">
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="Controls" />
							</xs:appinfo>
						</xs:annotation>
						<xs:element name="Button" type="Button" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Custom" type="Custom" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="Container" type="Container"
							minOccurs="0" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="divbar" default="true" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType-->
	
	<xs:complexType name="Panel">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:sequence>
					<xs:choice maxOccurs="1">
						<xs:element name="Footer" type="Footer"	minOccurs="0" maxOccurs="1"/>
						<xs:element name="Header" type="Header"	minOccurs="0" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>		
				<xs:attribute name="title" type="xs:string" />
				<xs:attribute name="onbeforeshow" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PanelMenu">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:attribute name="position" type="xs:string" />
				<xs:attribute name="display" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Form">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:attribute name="title" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Screen">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Control">
					<xs:sequence>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<jaxb:property name="Panels" />
								</xs:appinfo>
							</xs:annotation>
							<xs:element name='Panel' type='Panel' />
						</xs:choice>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<jaxb:property name="PanelsMenu" />
								</xs:appinfo>
							</xs:annotation>
							<xs:element name='PanelMenu' type='PanelMenu' />
						</xs:choice>
					</xs:sequence>

					<xs:attribute name="includehtml" type="xs:string" />
					<xs:attribute name="onLoad" type="xs:string" />
					<xs:attribute name="onSaveState" type="xs:string" />
					<xs:attribute name="onRestoreState" type="xs:string" />
					<xs:attribute name="onPause" type="xs:string" />
					<xs:attribute name="onResume" type="xs:string" />					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>